<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/schema/mybatis-3-mapper.dtd">

<mapper namespace="com.example.reactboardback.blog.mapper.WorkMapper">
    <select id="getWorkList" parameterType="Map" resultType="Map">
        SELECT IDX
              ,WORK
              ,DONE_YN
              ,CUSER
              ,DATE_FORMAT(CDATE,'%Y-%m-%d') AS CDATE
        FROM TB_WORK
        WHERE 1=1
            AND CUSER = #{createdBy}
        ORDER BY IDX DESC
    </select>

    <insert id="insertWork" parameterType="Map">
        INSERT INTO TB_WORK
        (
            WORK
           ,DONE_YN
           ,CUSER
           ,CDATE
        ) VALUES (
            #{work}
            , 'N'
            , #{createdBy}
            , NOW()
        )
    </insert>

    <update id="updateWork" parameterType="Map">
        UPDATE TB_WORK
        SET WORK = #{work}
        <if test="done!=null and done!=''">
            ,DONE_YN = #{done}
        </if>
        WHERE IDX = #{idx}
            AND CUSER = #{createdBy}
    </update>

    <delete id="deleteWork" parameterType="Map">
        DELETE FROM TB_WORK
        WHERE IDX = #{idx}
            AND CUSER = #{createdBy}
    </delete>
</mapper>